Html, body {
  background-color: #E0E0E0;

}

.grandParentContaniner{
  display:table; height:100%; margin: 0 auto;
}

.parentContainer{
  display:table-cell; vertical-align:middle;
}

.ui-widget-content {
  background-color: #E0E0E0;
}

h2 {
  margin-bottom: 5px;
  font-family: "sans-serif";
}

.center {
  margin: 0 auto;
}

.red {
  color: #F44336;
}

.centerNotificationBar {
  margin: 0 auto;
  width: 200px;
}